* {
    font-family: Bebas Neue;
}

.landing-base {
    background: url(../images/jordy_billboard_final-1.jpeg);
    min-height: calc(100vh - 72px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
